In [1]:
import streamlit as st
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [13]:
df= pd.read_csv("boxing_data_raw.csv",
                header = None, 
                names = ['Rank','Name','empty1','Weight Class','Record','Age','empty2','Location'],
                usecols=['Rank','Name','Weight Class','Record','Age','Location'])
df.head()

,Rank,Name,Weight Class,Record,Age,Location
0,#1,Saul Alvarez,super middle,58 2 2,32.0,"Guadalajara, Jalisco, Mexico"
1,#2,Tyson Fury,heavy,33 0 1,34.0,"Morecambe, Lancashire, United Kingdom"
2,#3,Dmitrii Bivol,light heavy,21 0 0,31.0,"Indio, California, USA"
3,#4,Terence Crawford,welter,39 0 0,35.0,"Omaha, Nebraska, USA"
4,#5,Gennadiy Golovkin,middle,42 2 1,40.0,"Los Angeles, California, USA"

In [6]:
# df.loc[:,'Wins'] =

array([nan])

In [14]:
df.to_csv('boxing_data_cleaned.csv',index = False)